body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-image: linear-gradient(orange,crimson);
    padding: 5px;
}

a {
    /*background-image: linear-gradient(rgb(203, 212, 212),rgb(135, 194, 142));*/
}

ul {
  list-style-type: disc;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
