body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-image: linear-gradient(orange,crimson);
    padding: 5px;
}

a {
    /*background-image: linear-gradient(rgb(203, 212, 212),rgb(135, 194, 142));*/
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li::before {
  display: inline-block;
  content: url("https://learn.algoritmika.org/uploads/student/1110760/10-1655811193.png"); /* FontAwesome Unicode */
  width: 20px; /* same as padding-left set on li */
  height: 20px;
}
